
html {
  box-sizing: border-box;
  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}

h1 {
  text-align: left;
  text-decoration: none;
}

body {
  background-color: #e2e2e2;
  display: inline-block;
  margin: 0;
}

nav {
  color: #0074d9;
  text-align: center;
}

a:hover {
  color: #fff;
  background-color: #0074d9;
}

nav li a {
  text-decoration: none;
}
